#content section:first-of-type {
	/*background-color: #b9cb5e;*/
	float: left;
	width: 35%;
}

#content section:first-of-type div h2 {
	text-align: center;
	font-size: 2em;
	color: #d09d5a;
}

#content section:last-of-type {
	/*background-color: #dc6464;*/
	float: right;
	width: 65%;
}

#content section:first-of-type div {
	margin-bottom: 2em;
}

#content section:first-of-type div form {
	margin-top: 1em;
	text-align: center;
}

#content section:first-of-type div form input {
	width: 6.2em;
	padding: 0.2em;
	background-color: #1b1a1b;
	font-size: 1.25em;
	border: 0.15em solid #4f4f4f;
	border-radius: 0.2em;
	margin-right: 0.5em;
}

/* START button*/

#content section:first-of-type div:first-of-type form input:first-of-type {
	border: none;
	padding: 0.3em;
	border-radius: 0.5em;
	background-color: #56b934;
	color: #ffffff;
}

#content section:first-of-type div:first-of-type form input:first-of-type:hover {
	box-shadow: 0 0 0.1em rgba(0,0,0,0.5);
	background-color: #5cc937;
}

/* STOP button*/

#content section:first-of-type div:first-of-type form input:last-of-type {
	border: none;
	padding: 0.3em;
	border-radius: 0.5em;
	background-color: #e32b33;
	color: #ffffff;
}

#content section:first-of-type div:first-of-type form input:last-of-type:hover {
	box-shadow: 0 0 0.1em rgba(0,0,0,0.5);
	background-color: #f42e37;
}

/*Second form with post date*/

#content section:first-of-type div:last-of-type p {
	font-size: 1.25em;
}

#content section:first-of-type div:last-of-type form input:first-of-type {
	background-color: #ffffff;
	border: 0.15em solid #bcbcbc;
}

#content section:first-of-type div:last-of-type form input:last-of-type {
	border: none;
	padding: 0.3em;
	border-radius: 0.5em;
	background-color: #56b934;
	color: #ffffff;
}

#content section:first-of-type div:last-of-type form input:last-of-type:hover {
	box-shadow: 0 0 0.1em rgba(0,0,0,0.5);
	background-color: #5cc937;
}

#map {
	margin: 0 auto;
	margin-bottom: 2em;
}

