#content {
	padding-bottom: 2em;
}

#content a {
	text-decoration: none;
	color: #d09d5a;
}

#content a:hover {
	color: #ecb46a;
}

#content ul {
	list-style-type: none;
	font-size: 1.5em;
}

#content ul li {
	margin-bottom: 1em;
}

#content ul:first-of-type {
	width: 30%;
	float: left;
	padding: 1em 0 2em 0;
	border-right: 0.08em dotted #000000;
}

#content ul:last-of-type {
	float: left;
	padding: 1em 0 2em 2em;
}

#content ul:last-of-type h2 {
	color: #d09d5a;
	margin-bottom: 0.5em;
}

#content ul:last-of-type li {
	margin-bottom: 0.5em;
}


