body {
	background-color: #1b1a1b;
}

p {
	margin-top: 1em;
	font-size: 1.5em;
	padding: 1em 0 1em 0;
	text-align: center;
	background-color: #333233;
	color: #ffffff;
}

p span {
	color: #d09d5a;
}

div {
	width: 4.5em;
	margin: 0 auto;
	text-align: center;
	font-size: 1.3em;
	padding: 0.3em;
	border: 0.15em solid #4f4f4f;
	border-radius: 0.2em; 
}

div a {
	text-decoration: none;
	color: #ffffff;
}

div:hover {
	background-color: #2d2d2d; 
}