#content {
	padding: 0 2% 0 2%;
}

#content div {
	float: left;
	width: 30%;
	text-align: center;
	/*background-color: yellow;*/
	padding-bottom: 2%;
}

#content div img {
	width: 18em;
}

#content div h2 {
	font-size: 2em;
}

#content div p {
	font-size: 1.5em;
	color: #989898;
}

#content div:hover {
	opacity: 0.6;

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}